---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title="Contact Us — Diyan Rice Mill Industry"
  description="Get in touch with Diyan Rice Mill Industry for enquiries about our premium Basmati rice exports."
>
  <Header />
  <main class="pt-48">
  <br> <br> <br> <br> <br> <br> <br> <br>
    <Contact />
    <img src="/assets/map.png" alt="map">
     <br> <br> <br> <br> <br> <br>
  </main>
  <Footer />
</Layout>
