---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title="Contact Us — Diyan Rice Industries Pvt ltd"
  description="Get in touch with Diyan Rice Industries Pvt ltd for enquiries about our premium Basmati rice exports."
>
  <Header />
  <main class="pt-48">
  <br> <br> <br> <br> <br> <br> <br> <br>
    <Contact />
    <a href="https://maps.app.goo.gl/gqjkin3Snkhqs3Sv7?g_st=iw" target="_blank" rel="noopener noreferrer">
      <img src="/assets/map.png" alt="map">
    </a>
     <br> <br> <br> <br> <br> <br>
  </main>
  <Footer />
</Layout>
