---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ProductShowcase from '../components/ProductShowcase.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title="Our Products — Diyan Rice Mill Industry"
  description="Explore our range of premium Basmati rice, including 1121, Sella, and Steam varieties."
>
  <Header />
  <main class="pt-24">
   <br> <br> <br> <br> <br> <br> <br> <br> <br> 
    <ProductShowcase />
  </main>
  <Footer />
</Layout>
